@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #fff;
}
.banner-section
{
    width: 100%;
    margin: auto;
    padding: 0 10px;
    background: url(/img/banner-3.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    overflow-y: hidden;
    color: #fff;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-section .text-box
{
    position: relative;
    width: 55%;
    margin: auto;
}
.banner-section .text-box h1
{
    text-align: center;
    margin-bottom: 40px;
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: tomato;
}
.banner-section .text-box p
{
    font-size: 1.3em;
    text-align: justify;
    font-weight: 300;
    color: #eee;
}
.player-section
{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.player-section .players
{
    position: relative;
    width: 70%;
    margin: auto;
}
.player-section .players .player-box
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player-section .players .player-box .box
{
    height: 400px;
    width: 350px;
    border: 1px solid #444;
    display: grid;
    overflow: hidden;
    background: #000;
}
.player-section .players .player-box .box .img-box
{
    position: relative;
    height: 90%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    font-weight: 600;
}
.player-section .players .player-box .box img
{
    width: 100%;
    height: 100%;
}
.player-section .players .player-box .box .text
{
    padding: 20px;
}
.player-section .players .player-box .box .text h2
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 1.8em;
}
.player-section .players .player-box .box .text .p
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 40px;
}
.player-section .players .player-box .box .text .p p
{
    font-size: 1.2em;
    font-weight: 300;
    color: #bbb;
}
.player-section .players .player-box .box .text .p .fa-sharp
{
    height: 10px;
    width: 10px;
    overflow: hidden;
}
.player-section .players .player-box .box .text .select-button
{
    width: 80%;
    margin: auto;
}
.player-section .players .player-box .box .text .select-button button
{
    width: 100%;
    padding: 15px 0;
    background: blue;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
}